---
- name: Install and Configure Nginx
  hosts: web
  become: true
  gather_facts: true

  vars:
    nginx_web_root:
      Debian: /var/www/html
      RedHat: /usr/share/nginx/html

  tasks:
    - name: Install Nginx
      package:
        name: nginx
        state: present

    - name: Start and enable Nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Create assets directory
      file:
        path: "{{ nginx_web_root[ansible_facts['os_family']] }}/assets"
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Copy index.html
      template:
        src: index.html.j2
        dest: "{{ nginx_web_root[ansible_facts['os_family']] }}/index.html"
        mode: "0644"

    - name: Copy JS file
      copy:
        src: nginx-artefacts/assets/app.js
        dest: "{{ nginx_web_root[ansible_facts['os_family']] }}/assets/app.js"
        mode: "0644"

    - name: Copy CSS file
      copy:
        src: nginx-artefacts/assets/styles.css
        dest: "{{ nginx_web_root[ansible_facts['os_family']] }}/assets/styles.css"
        mode: "0644"
