---
- name: Install Nginx
  hosts: web
  become: true
  gather_facts: true

  tasks:
    - name: Update package cache (Ubuntu/Debian)
      apt:
        update_cache: yes
        cache_valid_time: 3600
      when: ansible_os_family == "Debian"

    - name: Install Nginx on Target Node
      package:
        name: nginx
        state: present

    - name: Set nginx root path for Debian/Ubuntu
      set_fact:
        nginx_root: /var/www/html
      when: ansible_os_family == "Debian"

    - name: Set nginx root path for RedHat/Amazon Linux
      set_fact:
        nginx_root: /usr/share/nginx/html
      when: ansible_os_family == "RedHat"

    - name: Start and Enable Nginx Service
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Create assets directory
      ansible.builtin.file:
        path: "{{ nginx_root }}/assets"
        state: directory
        mode: '0755'

    - name: Copy index file 
      ansible.builtin.template:
        src: index.html.j2
        dest: "{{ nginx_root }}/index.html"
        mode: '0644'

    - name: Copy js file 
      ansible.builtin.copy:
        src: ../nginx-artefacts/assets/app.js 
        dest: "{{ nginx_root }}/assets/app.js"
        mode: '0644'

    - name: Copy css file
      ansible.builtin.copy:
        src: ../nginx-artefacts/assets/styles.css 
        dest: "{{ nginx_root }}/assets/styles.css"
        mode: '0644'