---
- name: Install Nginx
  hosts: web
  become: true
  gather_facts: true

  tasks:
    - name: Install Nginx on Target Node
      package:
        name: nginx
        state: present

    - name: Start Service
      service:
        name: nginx
        state: "{{ nginx_state }}"
        enabled: yes

    - name: create assets directory
      ansible.builtin.file:
        path: /usr/share/nginx/html/assets
        state: directory

    - name: copy index file 
      ansible.builtin.template:
        src: index.html.j2
        dest: /usr/share/nginx/html/index.html

    - name: copy js file 
      ansible.builtin.copy:
        src: ../nginx-artefacts/assets/app.js 
        dest: /usr/share/nginx/html/assets/app.js

    - name: copy css file
      ansible.builtin.copy:
        src: ../nginx-artefacts/assets/styles.css 
        dest: /usr/share/nginx/html/assets/styles.css

